body {
    width:100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  h3 {
    margin-top: 2rem;
  }
  
  .row {
    margin-bottom: 1rem;
  }
  .row .row {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  [class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
  }
  
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}